---
import Heading from "@components/Astro/Heading.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Link from "@components/Astro/Link.astro";
import FeaturesList from "@components/Astro/FeaturesList.astro";

const faq = [
	{
		title: "Do I have to use TypeScript?",
		description:""
	},
];
---

<Layout title="FAQ">
	<Heading text="FAQ" />
	<p class="flex items-center justify-center gap-2">
		<Icon name="ri:questionnaire-line" size="1.5em" class="opacity-80" />
		Looking for the <Link href="/features" text="Feature List?" />
	</p>
	<section class="max-w-6xl mx-auto p-6 w-full mt-0">
		<article class="md:mx-12 lg:mx-auto w-full max-w-2xl">
			<FeaturesList features={faq} />
		</article>
	</section>
</Layout>
